#search {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px auto;
    #logo{
        width: 280px;
    }
    input[type=text]{
        border-radius: 100px;
        width: 400px;
        height: 20px;
    }
}


