#links{
    text-align: right;
    margin: 23px 30px auto;
    font-size: small;
    font-family: sans-serif;
    height: 25px;
    width: 74px;
    a{
        margin-left: 10px;
        text-decoration: none;
        color: black;
    }
}
#search {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px auto;
    #logo{
        width: 270px;
        position: relative;
        font-size: medium;
        font-family: sans-serif;
        color: blue;
        div{
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
    form{
        margin: auto;
    }
    #searchArea{
        margin: 28px;
        border: solid cyan 1px;
        border-radius: 100px;
        width: 580px;
        height: 40px;
        #icon{
            width: 20px;
            float: left;
            margin: 10px;
        }
        input[type=text]{
            margin: 4px;
            float: left;
            width: 500px;
            height: 30px;
            font-family: sans-serif;
            font-size: medium;
            border: hidden;
            outline: none;
        }
    }
    input[type=submit]{
        border: hidden;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 90%;
        background-color: rgb(230, 249, 255);
        width: 130px;
        height: 30px;
    }
}


